body {
    font-family: 'helvetica', sans-serif;

    * {
        box-sizing: border-box;
        min-height: 100vh;
    }

}

ul {
    margin: 1em;
    list-style: none;
}




.nav a {
    padding: 0.2em;
    font-size: 1.3em;
    text-decoration: none;
    color: white;

}

.nav a:hover {
    color: #c5c2c2;
}

.header {
    padding-top: .5em;
    padding-bottom: .5em;
    border-bottom: 0.5em solid #f07e1a;
    background-color: #bea36a;
    width: 100vw;

}

img {
    max-width: 26em;
    margin-bottom: 2em;
    align-content: center;

}


html {
    background-color: lemonchiffon;

}

article {
    background-color: #E4D8C1;
    margin-bottom: 1.2em;
    width: 28em;
    box-shadow: -19px 4px 2em 0.2em #bea36a;
}

.taart {
    margin-left: 15px;
    padding: center;
    box-shadow: -19px 4px 38px -4px #bea36a;
}

.logo {
    width: 10em;
    margin: 20px;
}

h1 {
    color: #bea36a;
    margin-left: 1.1em;
    padding-top: 2em;
}

h2,
h3 {
    font-size: 1em;
    margin-left: 1.7em;
}

* {
    display: grid;
}

/* bron: https://css-tricks.com/dont-overthink-flexbox-grids/*/

.flex-class,
.nav {
    padding: 0;
    margin: 0;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}
